 <!-- Modal -->
<div class="modal fade" id="commonModals" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="mainContent">
        </div>
    </div>
</div>
<!-- Extra large Modal -->
<div class="modal fade" id="commonModalsLg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>
<!-- large Modal -->
<div class="modal fade" id="commonModalsSm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content"></div>
    </div>
</div>
